
@font-face {
  font-family: 'Share Tech Mono';
  src: local('Share Tech Mono'), url(./fonts/ShareTechMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Mode Seven';
  src: local('Mode Seven'), url(./fonts/Modeseven-L3n5.ttf) format('truetype');
}




