

body {
    background-image: linear-gradient(to right,#080808,#101010);
}

a{
    color : #00ff41;
    text-decoration: none;
    cursor: pointer;
}


.experience-title {
    text-align: center;
    margin-top: 2.5em;
    font-size: 2.0rem;
    font-family: 'Mode Seven';
    color : #00ff41;
}

.exp-container {
    margin-top: 1.0em;
    justify-content: center;
    margin-left: 0.6em;
    margin-right: 0.6em;
    margin-bottom: 0.5em;
}

.exp-content {
    margin : 0.2em;
    padding : 0.8em;
    color : #00ff41;
    font-size: 1.1em;
    font-family: 'Share Tech Mono';
    
    overflow-wrap: break-word;
    line-height: 1.4;
    letter-spacing: 0.1em;
}

.exp-title {
    margin : 0.2em;
    font-size: 1.4em;
}

.exp-desc {
    margin: 0.4em;
    animation: fadein 2s 1;
}


@keyframes fadein{
    0% {opacity: 0;}
    49%{  opacity: 0;  }
    60%{ opacity: 0.3; }
    70%{ opacity: 0.5; }
    80%{opacity: 0.8;  }
    100% {opacity: 1;}
}


@media (min-height : 811px ) {

    .exp-container {
        margin-top: 1.0em;
        justify-content: center;
        margin-left: 0.6em;
        margin-right: 0.6em;
        margin-bottom: 0.5em;
    }

}


@media (max-width : 320px) {

    .exp-container {
        margin-top: 1.0em;
        margin-left: 0.6em;
        margin-right: 0.6em;
        justify-content: center;
        margin-bottom: 0.5em;
    }
}


@media (min-device-width : 768px)  {
    

    .e-div {
        display: flex;
        justify-content: center;
    }

    .exp-container{
        width : 160vh;
    }

    .exp-content {
        margin : 0.2em;
        padding : 0.8em;
        color : #00ff41;
        font-size: 1.1em;
        font-family: 'Share Tech Mono';
        overflow-wrap: break-word;
        line-height: 1.4;
        letter-spacing: 0.1em;
    }

    
}