.lander-screen {
   
}

* {
    margin: 0; 
    padding: 0;
}

body {
    background-image: #080808;
}

.main-text {
    text-align: center;
    margin-top: 3.0em;
    font-size: 3.5em;
    font-family: 'Share Tech Mono';
    color : #00ff41;
}

.sub-text {
    text-align: center;
    margin-top: 1.8em;
    margin-right: 1.6em;
    font-size: 1.5em;
    font-family: 'Share Tech Mono';
    color : #00ff41;
    animation:blinkingText 4s infinite;
}

@keyframes blinkingText{
    0%{     color: #00ff41;    }
    49%{    color: #00ff41; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #00ff41;    }
}


.contact-links {
    display: flex;
    margin-top: 7.0em;
    justify-content: center;
    margin-right: 2.6em;
    flex-direction: row;
    
}

.contact-icon {
    margin: 0.5em;
    padding: 1em;
    font-size: 2.0em;
  }


@media(max-width : 767px){

    body {
        background-image: #080808;
    }

   .main-text {
       font-size: 2.0em;
       margin-top: 5.0em;
       text-align: center;
       word-wrap: break-word;
       margin-left: 0.5em;
       margin-right: 0.5em;
       justify-content: center;
   }

   .sub-text {
       font-size: 1.1em;
       margin-top: 1.5em;
       margin-left: 0.5em;
       margin-right: 1em;
       justify-content: center;
   }

   .contact-links {
    display: flex;
    margin-top: 7.0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    justify-content: center;
    flex-direction: row;
    flex-basis: 15vh;
    }

.contact-icon {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 2.0em;
  }

}


@media (max-width : 320px) {

    body {
        background-image: #080808;
    }

    .main-text {
        font-size: 2.0em;
        margin-top: 6.0em;
        text-align: center;
        word-wrap: break-word;
        margin-left: 0.5em;
        margin-right: 0.5em;
        justify-content: center;
    }


    .sub-text {
        font-size: 0.9em;
        margin-top: 1.5em;
        margin-left: 0.5em;
        margin-right: 2em;
        justify-content: center;
    }
 
    .contact-links {
     display: flex;
     margin-top: 6.0em;
     margin-left: 0.5em;
     margin-right: 0.5em;
     justify-content: center;
     flex-direction: row;
     flex-basis: 15vh;
     }


     .contact-icon {
        margin: 0.5em;
        padding: 0.5em;
        font-size: 1.5em;
      }

}
