body {
    background-image: #080808;
}


.about-title {
    text-align: center;
    margin-top: 4em;
    font-size: 1.5rem;
    
    font-family: 'Share Tech Mono';
    color : #00ff41;
}


.about-content {
    text-align: center;
    margin-top: 2em;
    margin-bottom : 3em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    justify-content: center;
    padding: 0.2em;
    font-size: 1.1rem;
    font-family: 'Share Tech Mono';
    color : #00ff41;
    overflow-wrap: break-word;
    line-height: 1.2;
    letter-spacing: 0.1em;
    animation: text-shadow 1.5s ease-in-out 1;
}



@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-2em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.20em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.35em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}


@media (max-width : 320px) {

    .about-title {
        text-align: center;
        margin-top: 3em;
        font-size: 1.5rem;
        font-family: 'Share Tech Mono';
        color : #00ff41;
    }
    
    
    .about-content {
        text-align: center;
        margin-top: 1.3em;
        margin-left: 0.8em;
        margin-right: 0.8em;
        margin-bottom: 3em;
        justify-content: center;
        padding: 0.2em;
        font-size: 1.0rem;
        font-family: 'Share Tech Mono';
        color : #00ff41;
        overflow-wrap: break-word;
        line-height: 1.2;
        letter-spacing: 0.1em;
        animation: text-shadow 1.5s ease-in-out 1;
    }

}

 @media (min-device-width : 768px)   
  {

    .p-div { 
        display: flex;
        justify-content: center;
    }

    .about-title {
        text-align: center;
        margin-top: 4em;
        font-size: 2rem;
        font-family: 'Share Tech Mono';
        color : #00ff41;
        width: 100%;  
    }
    
    
    .about-content {
        text-align: center;
        margin-top: 2em;
        font-size: 1.6rem;
        font-family: 'Share Tech Mono';
        width : 140vh;
        letter-spacing: 0.1em;
        color : #00ff41;
    }

}

@media (min-height : 811px ) {

     .p-div { 
        display: flex;
        justify-content: center;
    }

    .about-title {
        text-align: center;
        margin-top: 4em;
        font-size: 1.5rem;
        font-family: 'Share Tech Mono';
        color : #00ff41;
        width: 100%;
        
    }
    
    
    .about-content {
        text-align: center;
        margin-top: 2em;
        font-size: 1.2rem;
        margin-left: 0.8em;
        margin-right: 0.8em;
        margin-bottom : 3em;
        justify-content: center;
        font-family: 'Share Tech Mono';
        letter-spacing: 0.1em;
        color : #00ff41;
    }
}